Data diambil dari: \
https://www.kaggle.com/datasets/rankirsh/esports-earnings/data

Data berbentuk CSV (Comma Separated Values), dengan 2 buah file CSV. Attribute ada 12 jika ditotal sebelum digabung.

In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [36]:
hdf= pd.read_csv('dataset/HistoricalEsportData.csv')
gdf= pd.read_csv('dataset/GeneralEsportData.csv')

In [37]:
gdf = gdf.drop(gdf[gdf["TotalPlayers"] == 0].index)
gdf.loc[gdf["TotalPlayers"] == 0].value_counts()

Series([], Name: count, dtype: int64)

In [38]:
hdf = hdf.drop(hdf[hdf["Players"] == 0].index)
gdf.loc[gdf["TotalPlayers"] == 0].value_counts()

Series([], Name: count, dtype: int64)

In [39]:
print(hdf.head())
print(gdf.head())

         Date                          Game  Earnings  Players  Tournaments
0  1998-01-01  Command & Conquer: Red Alert   15000.0        8            1
1  1998-01-01                    QuakeWorld   15000.0        8            1
2  1998-05-01                      Quake II   15000.0        4            1
3  1998-05-01            Total Annihilation   15000.0        2            1
4  1998-05-01                    QuakeWorld     300.0        3            1
                    Game  ReleaseDate     Genre  TotalEarnings  \
0         Age of Empires         1997  Strategy      510716.46
1      Age of Empires II         1999  Strategy     3253232.59
2     Age of Empires III         2005  Strategy      115843.65
3      Age of Empires IV         2021  Strategy      994675.03
4  Age of Empires Online         2011  Strategy        9806.56

   OfflineEarnings  PercentOffline  TotalPlayers  TotalTournaments
0        375857.63        0.735942           473               265
1       1139384.57        0.350232          1994              1613
2         41800.00        0.360831           166               163
3        409117.93        0.411308           542               327
4           775.00        0.079029            44                50

## Penjelasan Karakteristik Data
### HistoricalEsportData.csv - hdf
Date: Tanggal turnamen berlangsung | Quantitative-Discrete\
Game: Nama game yang dimainkan dalam turnamen tersebut | Categorical-Nominal\
Earnings: Total hadiah dari turnamen tersebut | Quantitative-Continues\
Players: Jumlah pemain yang bermain di turnamen tersebut | Quantitative-Discrete\
Tournament: Jumlah turnamen yang berlangsung pada tanggal tersebut sekaligus | Quantitative-Discrete\

### GeneralEsportData.csv - gdf
Game: Nama game | Categorical-Nominal\
ReleaseDate: Tahun game tersebut dirilis | Quantitative-Discrete\
Genre: Genre game | Categorical-Nominal\
TotalEarnings: Total hadiah dari semua turnamen game tersebut | Quantitative-Continues\
OfflineEarnings: Total hadiah dari semua turnamen offline game tersebut | Quantitative-Continues\
PercentOffline: Berapa persen turnamen game tersebut berlangsung secara offline | Quantitative-Continues\
TotalPlayers: Jumlah pemain yang pernah bertanding di turnamen game tersebut | Quantiative-Discrete\
TotalTournaments: Jumlah turnamen yang pernah berlangsung | Quantitative-Discrete

In [40]:
nilai_max=hdf["Earnings"].max()
nilai_min=hdf["Earnings"].min()
range=nilai_max-nilai_min
print(f"{nilai_max} {nilai_min} {range}")

40138651.26 0.0 40138651.26

In [41]:
nilai_max=hdf["Players"].max()
nilai_min=hdf["Players"].min()
range=nilai_max-nilai_min
print(f"{nilai_max} {nilai_min} {range}")

1719 1 1718

In [42]:
nilai_max=hdf["Tournaments"].max()
nilai_min=hdf["Tournaments"].min()
range=nilai_max-nilai_min
print(f"{nilai_max} {nilai_min} {range}")

172 1 171

In [43]:
nilai_max=gdf["ReleaseDate"].max()
nilai_min=gdf["ReleaseDate"].min()
range=nilai_max-nilai_min
print(f"{nilai_max} {nilai_min} {range}")

2023 1985 38

In [44]:
nilai_max=gdf["TotalEarnings"].max()
nilai_min=gdf["TotalEarnings"].min()
range=nilai_max-nilai_min
print(f"{nilai_max} {nilai_min} {range}")

337107974.16 0.0 337107974.16

In [45]:
nilai_max=gdf["OfflineEarnings"].max()
nilai_min=gdf["OfflineEarnings"].min()
range=nilai_max-nilai_min
print(f"{nilai_max} {nilai_min} {range}")

298290573.89 0.0 298290573.89

In [46]:
nilai_max=gdf["PercentOffline"].max()
nilai_min=gdf["PercentOffline"].min()
range=nilai_max-nilai_min
print(f"{nilai_max} {nilai_min} {range}")

1.0 0.0 1.0

In [47]:
nilai_max=gdf["TotalPlayers"].max()
nilai_min=gdf["TotalPlayers"].min()
range=nilai_max-nilai_min
print(f"{nilai_max} {nilai_min} {range}")

16272 1 16271

In [48]:
nilai_max=gdf["TotalTournaments"].max()
nilai_min=gdf["TotalTournaments"].min()
range=nilai_max-nilai_min
print(f"{nilai_max} {nilai_min} {range}")

7245 1 7244

In [49]:
hdf['Date'] = pd.to_datetime(hdf['Date'])

# Mencari nilai minimum dan maksimum dari kolom 'Date'
tanggal_min = hdf['Date'].min()
tanggal_max = hdf['Date'].max()
range = tanggal_max-tanggal_min
print(range)

9404 days 00:00:00

In [50]:
gdf['Genre'].unique()

array(['Strategy', 'First-Person Shooter',
       'Multiplayer Online Battle Arena', 'Role-Playing Game',
       'Fighting Game', 'Racing', 'Sports', 'Collectible Card Game',
       'Puzzle Game', 'Battle Royale', 'Third-Person Shooter',
       'Music / Rhythm Game'], dtype=object)

In [51]:
gdf['Game'].nunique()

579

In [52]:
gdf['Genre'].nunique()

12

In [53]:
gdf['Game'].isnull().value_counts()

Game
False    579
Name: count, dtype: int64

In [54]:
print(gdf.info())
print(hdf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 579 entries, 0 to 649
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Game              579 non-null    object
 1   ReleaseDate       579 non-null    int64
 2   Genre             579 non-null    object
 3   TotalEarnings     579 non-null    float64
 4   OfflineEarnings   579 non-null    float64
 5   PercentOffline    566 non-null    float64
 6   TotalPlayers      579 non-null    int64
 7   TotalTournaments  579 non-null    int64
dtypes: float64(3), int64(3), object(2)
memory usage: 40.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 9070 entries, 0 to 9242
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         9070 non-null   datetime64[ns]
 1   Game         9070 non-null   object
 2   Earnings     9070 non-null   float64
 3   Players      9070 non-null   int64
 4   Tournaments  9070 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 425.2+ KB
None

In [55]:
hdf_g = pd.merge(hdf, gdf[['Game', 'Genre']], on='Game', how='left')
# Memberikan kolom Genre pada dataframe Historical, sehingga lebih mudah untuk dianalisis

In [56]:
hdf_g.head()

,Date,Game,Earnings,Players,Tournaments,Genre
0,1998-01-01,Command & Conquer: Red Alert,15000.0,8,1,Strategy
1,1998-01-01,QuakeWorld,15000.0,8,1,First-Person Shooter
2,1998-05-01,Quake II,15000.0,4,1,First-Person Shooter
3,1998-05-01,Total Annihilation,15000.0,2,1,Strategy
4,1998-05-01,QuakeWorld,300.0,3,1,First-Person Shooter