Data diambil dari: \
https://www.kaggle.com/datasets/rankirsh/esports-earnings/data

Data berbentuk CSV (Comma Separated Values), dengan 2 buah file CSV. Attribute ada 12 jika ditotal sebelum digabung.

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
hdf = pd.read_csv('dataset/HistoricalEsportData.csv')
gdf= pd.read_csv('dataset/GeneralEsportData.csv')

In [14]:
print(hdf.head())
print(gdf.head())

         Date                          Game  Earnings  Players  Tournaments
0  1998-01-01  Command & Conquer: Red Alert   15000.0        8            1
1  1998-01-01                    QuakeWorld   15000.0        8            1
2  1998-05-01                      Quake II   15000.0        4            1
3  1998-05-01            Total Annihilation   15000.0        2            1
4  1998-05-01                    QuakeWorld     300.0        3            1
                    Game  ReleaseDate     Genre  TotalEarnings  \
0         Age of Empires         1997  Strategy      510716.46
1      Age of Empires II         1999  Strategy     3253232.59
2     Age of Empires III         2005  Strategy      115843.65
3      Age of Empires IV         2021  Strategy      994675.03
4  Age of Empires Online         2011  Strategy        9806.56

   OfflineEarnings  PercentOffline  TotalPlayers  TotalTournaments
0        375857.63        0.735942           473               265
1       1139384.57        0.350232          1994              1613
2         41800.00        0.360831           166               163
3        409117.93        0.411308           542               327
4           775.00        0.079029            44                50

## Penjelasan Karakteristik Data
### HistoricalEsportData.csv - hdf
Date: Tanggal turnamen berlangsung | Quantitative-Discrete\
Game: Nama game yang dimainkan dalam turnamen tersebut | Categorical-Nominal\
Earnings: Total hadiah dari turnamen tersebut | Quantitative-Continues\
Players: Jumlah pemain yang bermain di turnamen tersebut | Quantitative-Discrete\
Tournament: Jumlah turnamen yang berlangsung pada tanggal tersebut sekaligus | Quantitative-Discrete\

### GeneralEsportData.csv - gdf
Game: Nama game | Categorical-Nominal\
ReleaseDate: Tahun game tersebut dirilis | Quantitative-Discrete\
Genre: Genre game | Categorical-Nominal\
TotalEarnings: Total hadiah dari semua turnamen game tersebut | Quantitative-Continues\
OfflineEarnings: Total hadiah dari semua turnamen offline game tersebut | Quantitative-Continues\
PercentOffline: Berapa persen turnamen game tersebut berlangsung secara offline | Quantitative-Continues\
TotalPlayers: Jumlah pemain yang pernah bertanding di turnamen game tersebut | Quantiative-Discrete\
TotalTournaments: Jumlah turnamen yang pernah berlangsung | Quantitative-Discrete

In [15]:
print(gdf.info())
print(hdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Game              650 non-null    object
 1   ReleaseDate       650 non-null    int64
 2   Genre             650 non-null    object
 3   TotalEarnings     650 non-null    float64
 4   OfflineEarnings   650 non-null    float64
 5   PercentOffline    583 non-null    float64
 6   TotalPlayers      650 non-null    int64
 7   TotalTournaments  650 non-null    int64
dtypes: float64(3), int64(3), object(2)
memory usage: 40.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9244 entries, 0 to 9243
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         9244 non-null   object
 1   Game         9244 non-null   object
 2   Earnings     9244 non-null   float64
 3   Players      9244 non-null   int64
 4   Tournaments  9244 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 361.2+ KB
None

In [16]:
hdf_g = pd.merge(hdf, gdf[['Game', 'Genre']], on='Game', how='left')
# Memberikan kolom Genre pada dataframe Historical, sehingga lebih mudah untuk dianalisis

In [17]:
hdf_g.head()

,Date,Game,Earnings,Players,Tournaments,Genre
0,1998-01-01,Command & Conquer: Red Alert,15000.0,8,1,Strategy
1,1998-01-01,QuakeWorld,15000.0,8,1,First-Person Shooter
2,1998-05-01,Quake II,15000.0,4,1,First-Person Shooter
3,1998-05-01,Total Annihilation,15000.0,2,1,Strategy
4,1998-05-01,QuakeWorld,300.0,3,1,First-Person Shooter