In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df1 = pd.read_csv('dataset/HistoricalEsportData.csv')
df2 = pd.read_csv('dataset/GeneralEsportData.csv')

         Date                          Game  Earnings  Players  Tournaments
0  1998-01-01  Command & Conquer: Red Alert   15000.0        8            1
1  1998-01-01                    QuakeWorld   15000.0        8            1
2  1998-05-01                      Quake II   15000.0        4            1
3  1998-05-01            Total Annihilation   15000.0        2            1
4  1998-05-01                    QuakeWorld     300.0        3            1

In [3]:
df2["Genre"].value_counts()

Genre
Fighting Game                      183
First-Person Shooter               136
Sports                              97
Racing                              65
Strategy                            64
Multiplayer Online Battle Arena     28
Collectible Card Game               17
Puzzle Game                         17
Battle Royale                       17
Third-Person Shooter                10
Role-Playing Game                    9
Music / Rhythm Game                  7
Name: count, dtype: int64